.button {
  font: inherit;
  line-height: normal;
  display: inline-block;
  overflow: visible;
  box-sizing: content-box;
  padding: 0;
  user-select: none;
  color: inherit;
  border: 0;
  background: none;

  appearance: none;
}

.button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
